.row {
  margin-top: 20px;
}

.btn {
  margin-left: 10px;
}

select, textarea {
  width: 100%;
}

pre {
  height: 206px;
}

textarea {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 13px;
}