<div>
    <div class="row">
        <div class="col-xs-6">
            <select size=12 [(ngModel)]="selectedScript">
                <option *ngFor="let script of scriptList; let i = index" [ngValue]="i">{{script.name}}</option>
            </select>
        </div>

        <div class="col-xs-6" *ngIf="scriptList[selectedScript]">
            <textarea rows="10" readonly [ngModel]="scriptList[selectedScript].getScriptString()"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <input [(ngModel)]="editingScriptName"/>
            <button class="btn btn-primary" (click)="newScript()"><i class="fa fa-plus"></i></button>
            <button class="btn btn-primary" (click)="editScript()"><i class="fa fa-pencil"></i></button>
            <button class="btn btn-primary" (click)="saveScript()"><i class="fa fa-save"></i></button>
            <button class="btn btn-primary" (click)="deleteScript()"><i class="fa fa-trash-o"></i></button>
            <button class="btn btn-primary" (click)="nothing()"><i class="fa fa-play"></i></button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <textarea rows="40" [(ngModel)]="editingScriptBody"></textarea>
        </div>
    </div>
</div>

<style>
    .row {
        margin: 20px;
    }

    .btn {
        margin-left: 5px;
        margin-right: 5px;
    }

    select, textarea {
        width: 100%;
    }
</style>